body {
      
    color: white;}


    li:hover {
background-color: rgb(94, 100, 95);
}
    .nameOfBand {
      color: gray;
      float: left;
    padding-left: 35px; }
  
    ul {
    list-style-type: none;
    padding-top: 50px;
  }
  img{ display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 40%;}
  html, body {
height: 100%;
}

body {
background-color: #111312;
}

.dot, .dot:before, .dot:after {
position: absolute;
width: 15px;
height: 15px;
border-radius: 20px;
background-color: #34495e;
}

.dot {
top: 50%;
left: 70%;
margin-top: -10px;
margin-left: -10px;
}

.dot:before, .dot:after {
content: "";
}

.dot:before {
right: 25px;
transition: right .3s ease-out;
}

.dot:after {
left: 25px;
transition: left .3s ease-out;
}

.dots:hover .dot:before {
right: -25px;
}

.dots:hover .dot:after {
left: -25px;
}
  
  
  
    .timeOfSong{
      color: gray; 
      float: right;
  
    }
    h4{ text-align: center;}
  
    li{
        list-style-image: url('note.svg');
      padding: 10px;
      color: rgb(236, 221, 221);
      
    .icon {
border: none;
outline: none;
cursor: pointer;
}



    }
    .icon{
        border: none;
outline: none;
padding: 10px 16px;
cursor: pointer;
        text-align:center;
  position: relative;
  left: -10%;

  }

 h6{
     text-align: center;
    padding: -20px;
margin: -5px;}
  #heart {
  
color: grey;  
font-size: 30px;


}



#heart.red {
color: red;
}
    .PlayButtonGreen { 
    width: 100px;
    height: 30px;
    border-radius: 30px;
    background-color: #1DB954;
    text: white;
    margin-top: 1% ;
    display: flex;  
  justify-content: center;  
  align-items: center;  
  
    }
    .Year{
        text-align: center;
        margin:auto;
    }
    .heart{padding: 10px;}
    .three-dots{padding: 10px;}
  
  .note{padding:0 10px 0 0}


/*------------------------------------*\
                #sidebar
\*------------------------------------*/

/* classnames .class example of a modul */

/* .sidebar {} 
.sidebar-title {}
.sidebar-item {}
.sidebar-productTitle {}
.sidebar-removeButton {} */

/*------------------------------------*\
                #footer
\*------------------------------------*/

/* .footer-playButton{} */

/* Example */


/*------------------------------------*\
                #homepage
\*------------------------------------*/

#body {
  font-family: 'Montserrat', sans-serif;
  background: rgb(10, 16, 23);
  background: radial-gradient(
    circle,
    rgba(10, 16, 23, 1) 0%,
    rgba(25, 50, 77, 1) 91%
  );
  font-size: 100%;
}
.cardHoover:hover {
  transform: scale(1.02);
  box-shadow: 5px 6px 14px -2px rgba(33, 145, 99, 0.5);
}

nav {
  letter-spacing: 0.15em;
  font-size: 9px;
}

#h1 {
  color: white;
}

@media only screen and (max-width: 768px) {
  #h1 {
    font-size: 20px;
  }
  #h2 {
    font-size: 20px;
  }
}
@media only screen and (min-width: 992px) {
  #h1 {
    font-size: 40px;
  }
}
@media only screen and (min-width: 1200px) {
  #h1 {
    font-size: 45px;
  }
}

#img-card {
  padding-left: 7px;
  padding-right: 7px;
  background-color: transparent;
  border: none;
}

#card-text {
  color: white;
  font-size: 12px;
}

#h2 {
  color: white;
}

#underline {
  /* text-decoration: underline;
  text-underline-position: under;

  text-decoration-color: #219163; */
  border-bottom: 2px solid #219163;
  padding-bottom: 3px;
}
#homeButton {
  border-left: 2px solid #219163;
}

/*------------------------------------*\
                #variables
\*------------------------------------*/


/*------------------------------------*\
                #homepage
\*------------------------------------*/

#body {
  font-family: 'Montserrat', sans-serif;
  background: rgb(10, 16, 23);
  background: radial-gradient(
    circle,
    rgba(10, 16, 23, 1) 0%,
    rgba(25, 50, 77, 1) 91%
  );
  font-size: 100%;
}
.cardHoover:hover {
  transform: scale(1.02);
  box-shadow: 5px 6px 14px -2px rgba(33, 145, 99, 0.5);
}

nav {
  letter-spacing: 0.15em;
  font-size: 9px;
}


}

#img-card {
  padding-left: 7px;
  padding-right: 7px;
  background-color: transparent;
  border: none;
}

#card-text {
  color: white;
  font-size: 12px;
}

#h2 {
  color: white;
}

#underline {
  /* text-decoration: underline;
  text-underline-position: under;
  text-decoration-color: #219163; */
  border-bottom: 2px solid #219163;
  padding-bottom: 3px;
}
#homeButton {
  border-left: 2px solid #219163;
}

/*------------------------------------*\
                #sidebar
\*------------------------------------*/

.sidebar {

    top: 9vh;
    position: absolute;
    /* transition: all 0.2s ease */
}

.sidebar .navbar-toggler {
    transform: scale(1.5);
}

.sidebar .sidebar-dropdown-trigger:hover .sidebar-dropdown {
    visibility: visible;
    animation: slide-in-top 0.3s ease-in-out forwards;
}

@keyframes slide-in-top {
    0% {
        opacity: 0;
        transform: translateY(100)
    }
    100% {
        opacity: 1;
        transform: translateY(0)
    }
}

.sidebar ul li span {

}

.sidebar ul li span:hover {
  cursor: pointer;
  color: var(--login-bg-color);
}

.sidebar-devider {
  color: var(--sidebar-text-color);
  width: 100%;
  size: 3;
}

.sidebar .sidebar-button {
  border-radius: 10px;
  border: 3px solid var(--login-bg-color);
  color: var(--login-bg-color);
  font-weight: 700;
  transition: all 0.2s ease-in-out;
}

.sidebar .sidebar-button:hover {
  background-color: var(--login-bg-color);
  transform: scale(1.05);
  color: var(--home-bg-color);
}

.sidebar-footer-disclaimer {
  font-size: 0.8rem;
  font-weight: 500;
}




.player-controls {
  color: var(--sidebar-text-color);
}

.player-controls ion-icon[name='play-circle-outline'] {
  font-size: 2em;
}



.player .player-progress-divider {
  height: 2px;
  background-color: #404040;
}

.player .player-song-progress span {
  font-size: 0.7rem;
  color: var(--footer-player-text-color);
}

.player .player-volume-bar {
  height: 2px;
  background-color: var(--footer-player-text-color);
}

.player-progress-divider {


.artist-header:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;

    background-image: url("../assets/img/queens_concert.jpg");
    background-repeat: no-repeat;
    background-size: auto;
}



.artist-header {
  color: var(--sidebar-text-color);
}

.artist-header h1 {
  font-size: 96px;
}


.artist-header h5 {
    font-size: 0.9rem;
    font-weight: 400;
}

.artist-nav {
    z-index: 5;

.artist-albums::before {
    content: '';

    height: 70px;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6026611328125) 0%, rgba(18, 18, 18, 0.9724090319721639) 80%);
    filter: blur(10px);
    position: absolute;
    top: -60px;
    left: 0;
    z-index: 0;
}



/* En Header */


/* Button Row */

.artist-followButton {


  border: 2px solid var(--sidebar-text-color);
  color: var(--sidebar-text-color);
  font-weight: 700;
  transition: all 0.2s ease;


    border: 2px solid var(--sidebar-text-color);
    background-color: rgba(0, 0, 0, 0.6);
    color: var(--sidebar-text-color);
    font-weight: 700;
    transition: all 0.2s ease

}


.artist-playButton {
  color: var(--login-bg-color);
  font-weight: 700;
  background-color: var(--spotify-color);
  transition: all 0.2s ease;
}

.artist-playButton:hover {
  transform: scale(1.05);
  color: white;
}

.artist-menuButton:hover {
  transform: scale(1.1);
}

.artist-header-button-row {
  color: var(--sidebar-text-color);
}

/* End Button Row */

/* Menubar */

.artist-header ul li {
  cursor: pointer;
  padding-bottom: 4px;
  font-weight: 700;
}

.artist-header ul li:hover {
  border-bottom: 1px solid var(--spotify-color);
  color: var(--login-bg-color);
}

/* End Menubar */

/* Album */

.artist-album-card {
  background-color: var(--artist-album-card-bg-color);
  border-radius: 2px;
  transition: all 0.2s ease;
  cursor: pointer;
}

.artist-album-card:hover {
  background-color: rgb(92 91 91);
}

.artist-album-card:hover .artist-album-card-button {

  visibility: visible;
  animation: slide-in 0.4s ease forwards;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }



@keyframes slide-in-bottom {
    0% {
        opacity: 0;
        transform: translateY(100%)
    }
    100% {
        opacity: 1;
        transform: translateY(0)
    }

}


  font-size: 1rem;
  font-weight: 700;
  color: var(--login-bg-color);
}

.artist-album-card-subTitle {
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--footer-player-text-color);
}

.artist-album-card-button {
  visibility: hidden;
  background-color: var(--spotify-color);
  bottom: 27%;
  right: 8%;
  position: absolute;
}

section.artist-albums h3 {
  color: var(--login-bg-color);
  font-weight: 700;
}

/* End Album */

/*------------------------------------*\
                #media queries
\*------------------------------------*/


@media (max-width: 576px) {
    .sidebar {
        height: 9vh;
    }
    .player {
        height: 15vh;
    }
    .player-progress-divider {
        width: 75vw;
    }

    .artist-header h1 {
        font-size: 36px;
    }
    .artist-header h5 {
        font-size: 0.7rem;
    }


